<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Моя страница</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <style>
        /* Дополнительные стили */
        body {
            padding: 20px;
        }
        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .user-details {
            text-align: left;
            margin-bottom: 20px;
        }
        .logout-button {
            position: absolute;
            top: 20px;
            right: 20px;
        }
        .action-buttons {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Добро пожаловать!</h1>
    <div class="user-details">
        <p>Имя: <span th:text="${name}"></span></p>
        <p>Отчество: <span th:text="${otchestvo}"></span></p>
        <p>Фамилия: <span th:text="${surname}"></span></p>
        <p>Цех: <span th:text="${department}"></span></p>
        <p>Участок: <span th:text="${sector}"></span></p>
        <p>Рабочий центр: <span th:text="${work_center}"></span></p>
        <p>Должность: <span th:text="${job_title}"></span></p>
    </div>
    <form th:action="@{/logout}" method="post" class="logout-button">
        <button type="submit" class="btn waves-effect waves-light">Выйти</button>
    </form>
    <div class="action-buttons">
        <a href="#" class="btn waves-effect waves-light">Найти наряд</a>
        <a href="#" class="btn waves-effect waves-light">Создать наряд</a>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
